<div id="stock-lookup">
      <h3>
        </h3>
      <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
      <!--'remote: true" allows data to display without reloading via AJAX-->
      <!--HTML:  <form action="/search_stocks(stocks#search)" method="get">-->
      <div class="form-group row no-padding text-center col-md-12">
        <div class="col-md-10">
          <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: 'form-control search-box input-lg' %>   
          <!--HTML:  <input id="stock" name="stock" type="text" />-->
        </div>  
        <div class="col-md-2">
          <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
            <i class="fa fa-search"></i> Look up a stock
          <% end %>
        </div>
      </div>      
    <% end %>
    <%= render 'common/spinner' %> <!--calls loadtime spinner-->
    <% if @stock %>
      <div id="stock-lookup-results" class="well results-block">
        <strong>Symbol:</strong> <%= @stock.ticker %>
        <strong>Name:</strong> <%= @stock.name %>
        <strong>Price:</strong> <%= @stock.price %>
        <% if current_user.can_add_stock?(@stock.ticker) %>
          <%= link_to 'Add to my stocks', user_stocks_path(user: current_user, stock_ticker: @stock.ticker, stock_id: @stock.id ? @stock.id : ''), class: 'btn btn-xs btn-success', method: :post %>
        <!--use @stock.id, if there is no @stock.id use empty string- this link sends @stock data to the create action of users_stocks, where it uses stock_id as a conditional starter.  Stocks looked up through the stocks gem will not have an id and will need to be added to the stocks db-->
        <% else %>
          <span class='label label-default'>
            Stock cannot be added:
            <% if !current_user.under_stock_limit? %>
              Limit of 10 stocks per portfolio.
            <% end %> 
            <% if current_user.stock_already_added?(@stock.ticker) %>
              Stock already added to this portfolio.
            <% end %>
          </span>  
        <% end %>
      </div>  
    <% end %>
    <div id='stock-lookup-errors'></div>
</div>

<!--params[:stock] is sent from the text_field, entered by user, to the stocks#search action where it uses the stock model, if @stock is found, it renders the stock as a partial window athat can be added to the users stock list-->